<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Faculty Registeration.</title>
<link rel="stylesheet" href="{{  url_for('static' ,filename = 'normalize.css')  }}">
<link rel="stylesheet" href="{{  url_for('static' ,filename = 'skeleton.css')  }}">
	
</head>
<body background="  {{url_for('static' ,filename = 'maxresdefault.jpg')}}  ">
	<div class="container" style=" border-radius: 5px;background-color: #f2f2f2">
	<h1 style="font-family:font-family:Lucida Sans Unicode;text-align: center;font-size: 50px;background: #F08080">Lab Registration</h1>
		<table align="center">
		<form method="POST">
				{{ form.hidden_tag() }}
			<tr>
				<th>{{ form.staff.label}}</th>
                <th>{{ form.staff  }}</th>
                <th>
                    <ul>
                    {%for error in form.staff.errors %}
                    <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </th>
			</tr>
			<tr>
				<th>{{ form.sname.label  }}</th>
                <th>{{ form.sname  }}</th>
                <th>
                    <ul>
                    {%for error in form.sname.errors %}
                    <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </th>
			</tr>
            <tr>
				<th>{{ form.labid.label  }}</th>
                <th>{{ form.labid  }}</th>
                <th>
                    <ul>
                    {%for error in form.sname.errors %}
                    <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </th>
			</tr>
            <tr>
				<th>{{ form.subw.label  }}</th>
                <th>{{ form.subw}}</th>
                <th>
                    <ul>
                    {%for error in form.subw.errors %}
                    <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </th>
			</tr>
            <tr>
				<th>{{ form.roomno.label  }}</th>
                <th>{{ form.roomno}}</th>
                <th>
                    <ul>
                    {%for error in form.roomno.errors %}
                    <li style="color:red;">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </th>
			</tr>

			<tr>
			<br>
				<th>{{ form.submit(class="button-primary") }}</th>
			</tr>
		</form>
		</table>
	</div>
    <strong><center><font color="red" size="5">Already Have An Account?<a href ="{{ url_for('tlog') }}"> Sign In!</a></center></font></strong><center>
	<footer style="font-size: 14px;
  padding-top: 80px;
  font-variant: small-caps;
  text-align: center;
  color: #f2f2f2;"><p><b>Copyright&copy; Darsh and Shivam</b></p></footer>
</body>
</html>