<!doctype html>
<head>
	<title>
		Successful Authentication
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'normalize.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'skeleton.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'Stylestudpage.css')  }}">
</head>
<body background="  {{url_for('static' ,filename = 'maxresdefault.jpg')}}" style="font-family : sans-serif; background-color : #e3e3e3; margin :auto;">
<div class="container">
    <div class="row">
    <div class="eight columns u-pull-left">
    </div><center><h3>Welcome {{session['username']}} to Your Dashboard</h3></center>
	</div>
</div>
    </div>
	<br>
		<p>
			<a href="{{  url_for('scourse')  }}"><b>Course Page</b></a>
            <a href="{{  url_for('sqdown')  }}"><b>Question Download</b></a>
            <a href="{{  url_for('ansup')}}"><b>Answer Document Upload</b></a>
			<a href="{{  url_for('strep')  }}"><b>Reports</b></a>
            <a href="{{  url_for('sviewprofile')  }}"><b>View Profile</b></a>
            <a href="{{  url_for('supdateprofile')  }}"><b>Update Profile</b></a>
			<a href="{{  url_for('pcinfo')  }}"><b>PC Information</b></a>
            <a href="{{ url_for('slogout') }}"><b>Logout</b></a>
		</p><br>
	<div class="hero">
        <div class="container">
		<p>
			LATEST UPDATES<br>
			<ul>
				<li>View Reports from our Software<br></li>
			</ul>
		</p>
		<p>
			PREVIOUS UPDATES<br>
			<ul>
				<li>Course Page is now available!<br></li>
				<li>Students can update their Details --Go  Update Profile</li>
			</ul>
		</p>
	</div>
    </div>
	<footer><p>Copyright&copy; Darsh and Shivam</p></footer>
</body>
</html>