<!doctype html>
<html>
<head>
	<title>
		Reports View
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'normalize.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'skeleton.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'Stylestudpage.css')  }}">
</head>
<body background="{{url_for('static' ,filename = 'maxresdefault.jpg')}}" style="font-family : sans-serif; background-color : #e3e3e3; margin :auto;">
<div class="container">
    <div class="row">
    <div class="eight columns u-pull-left">
        </div><center><h3>Welcome {{session['username']}} to Your Dashboard</h3></center>

</div>
    </div>
</div>
	<br>
		<p>
			<a href="{{  url_for('scourse')  }}"><b>Course Page</b></a>
            <a href="{{  url_for('sqdown')  }}"><b>Question Download</b></a>
            <a href="#"><b>Document Upload</b></a>
			<a href="{{  url_for('strep')  }}"><b>Reports</b></a>
            <a href="{{  url_for('sviewprofile')  }}"><b>View Profile</b></a>
            <a href="{{ url_for('slogout') }}"><b>Logout</b></a>
		</p><br>
	<div class="hero">
        <div class="container">
            <form method="POST">
                <div class="row">
                    <div class="six columns">
                                {{ form.hidden_tag() }}
                                {{ form.subw.label }}
                                {{form.subw}}
                                {{ form.submit(class="button-primary") }}
                    </div>
                </div>
            </form>
            <table class="u-full-width">
  <thead>
    <tr>
      <th>Subject Code</th>
      <th>{{ form.subw.data }}</th>
    </tr>
    <tr>
      <th>Subject Code</th>
      <th>{{ form.subw.data }}</th>
    </tr>
{%for std in x%}
    <tr>
      <th>{{ temp[std] }}</th>
    </tr>
{% endfor %}
  </thead>
</table>
	</div>
    </div>
	<footer><p>Copyright&copy; Darsh and Shivam</p></footer>
</body>
</html>