<!doctype html>
<html>
<head>
	<title>
		Teacher Dashboard
	</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'normalize.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'skeleton.css')  }}">
	<link rel="stylesheet" href="{{  url_for('static' ,filename = 'Stylestudpage.css')  }}">
</head>
<body background="  {{url_for('static' ,filename = 'maxresdefault.jpg')}}" style="font-family : sans-serif; background-color : #e3e3e3; margin :auto;">
<div class="container">
    <div class="row">
    <div class="eight columns u-pull-left">
    </div><center><h3>Welcome {{ session['username1']}} to Your Dashboard</h3></center>
</div>
    </div>
</div>
	<br>
		<a>
			<a href="{{ url_for('tcourse') }}"><b>Course Material Upload</b></a>
            <a href="{{ url_for('tquesupload') }}"><b>Question Upload</b></a>
            <a href="{{ url_for('tansdown') }}"><b>Student Answer Document Download</b></a>
			<a href="{{  url_for('assignmarks')  }}"><b>Assign Marks</b></a>
            <a href="{{ url_for('tviewprofile') }}"><b>View Profile</b></a>
			<a href="{{ url_for('tupdate') }}"><b>Update Profile</b></a>
			<a href="{{ url_for('labview') }}"><b>Lab Details</b></a>
            <a href="{{ url_for('tlogout') }}"><b>Logout</b></a>
		</p><br>
	<div class="hero">
        <div class="container">
		<p>
			LATEST UPDATES<br>
			<ul>
				<li>View Reports from our Software<br></li>
			</ul>
		</p>
		<p>
			PREVIOUS UPDATES<br>
			<ul>
				<li>Course Page is now available!<br></li>
				<li>Teacher can Upload Assessments --Go to Upload Assessments</li>
			</ul>
		</p>
	</div>
    </div>
	<footer><p>Copyright&copy; Darsh and Shivam</p></footer>
</body>
</html>